In [19]:
import pandas as pd

data = pd.read_csv('house-prices-sample-data.csv')
data.head()

    size  year  garage   price
0  159.0  2003       2  208500
1  117.0  1976       2  181500
2  166.0  2001       2  223500
3  160.0  1915       3  140000
4  204.0  2000       3  250000

In [20]:
X = data.drop('price', axis='columns')
Y = data['price']

In [21]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state = 42)

In [22]:
X_train.head()

       size  year  garage
135   156.0  1970       2
1452  100.0  2005       2
762   144.0  2009       2
932   177.0  2006       3
435   154.0  1996       2

In [23]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [24]:
model.coef_

array([  830.00653222,   762.09006126, 25767.20537933])

In [26]:
model.predict([[120, 2001, 2]])

array([191436.53503831])

In [30]:
import pickle

pickle.dump(model, open('house-prices-model.sav', 'wb'))